In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [54]:
race_count = df['race'].value_counts().values
race_count

array([27816,  3124,  1039,   311,   271], dtype=int64)

In [38]:
race_count = pd.Series(list, index=indices)
race_count

Amer-Indian-Eskimo    27816
Other                  1039
Asian-Pac-Islander      271
Black                   311
White                  3124
dtype: int64

In [83]:
male_data = df[df['sex'] == 'Male']
edades = male_data['age']
edad_promedio = edades.values.mean().round(1)
edad_promedio

39.4

In [85]:
edad_promedio = df[df['sex'] == 'Male']['age'].values.mean().round(1)
edad_promedio

39.4

# Numero de filas

In [91]:
percentage_bachelors= df[df['education'] == 'Bachelors'].shape[0]  # Numero de fila
percentage_bachelors

5355

In [ ]:
percentage_bachelors = (df[df['education'] == 'Bachelors'].shape[0] / df.shape[0]) * 100

Explicación:

df[df['education'] == 'Bachelors']: Esto filtra el DataFrame df para incluir solo las filas donde la educación sea "Bachelors" (licenciatura).

.shape[0]: Esto nos da el número de filas en el DataFrame filtrado, lo que representa la cantidad de personas con una licenciatura.

df.shape[0]: Esto nos da el número total de filas en el DataFrame original, lo que representa el número total de personas en el conjunto de datos.

(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0]): Esto calcula la proporción de personas con una licenciatura respecto al número total de personas, lo que representa el porcentaje de personas con una licenciatura.

* 100: Esto multiplica la proporción por 100 para convertirla en un porcentaje.